@import '../../style/common';
@import '../../style/variables';

.transfer-filter-form {
  display: flex;
  flex-direction: column;
  min-width: 232px;
  max-height: 252px;
  margin-right: 20px;
  padding-top: 20px;
  border-radius: 5px;
  background-color: $white-color;
  color: $text-colot;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
}

.transfer-filters-title {
  margin-bottom: 20px;
  margin-left: 20px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.transfer-filter-label {
  width: 100%;
  padding: 6px 20px;
  font-size: 13px;
  transition: background-color .2s ease;
  cursor: pointer;

  &:hover {
    background-color: #F1FCFF;
  }

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.transfer-filters-input {
  position: relative;
  margin: 0;
  appearance: none;
  padding-left: 30px;
  cursor: pointer;

  &::after,
  &::before {
    content: "";
    position: absolute;
    transition: border-color .2s ease;

  }

  &::after {
    top: -17px;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 2px;
  }

  &::before {
    top: -13px;
    left: 5px;
    width: 12px;
    height: 6px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(-51deg);
  }

  &:not(:checked)::before {
    border-color: transparent;
  }
  
  &:not(:checked)::after {
    border-color: #9ABBCE;
  }

  &:checked::before,
  &:checked::after {
    border-color: #2196F3;
  }
}