@import '../../style/common';
@import '../../style/variables';

.tickets-item__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  span {
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    color: $blue-color;
  }
}

.tickets-item__description {
  display: flex;
  flex-direction: column;

  ul {
    display: flex;
    justify-content: space-between;
    width: 100%;

    li {
      display: flex;
      flex-direction: column;
      width: 25%;

      span:first-child {
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        color: #A0B0B9;
      }

      span:last-child {
        font-size: 14px;
        font-weight: 600;
        color: $text-colot;
      }
    }
  }

  ul:first-child {
    margin-bottom: 10px;
  }
}